<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">smarket</h3>
</div>

<div ng-controller="getProducts">
	{{data}}
	Status: {{status}}
	<p>
	<table  style="width:700px">
		<tr>
			<td><h4>Name</h4></td>
			<td align="center"><h4>Price</h4></td>
		</tr>
	</table>
	<div ng-repeat="post in posts">
		<table  style="width:700px">
		<tr>
			<td></td>
			<td></td>
		</tr>
		 <tr>
			<td>{{post.name}}</td>
			<td align="left">{{post.price}}</td>
		</tr>
	</table>
	</div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
