<!-- <style>
   table {border-collapse:collapse; table-layout:fixed; width:310px;}
   table td {border:solid 1px #fab; width:700px; word-wrap:break-word;}
</style> -->

<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Food Basics</a></li>
    <li><a ng-href="#nofrills">No Frills</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">sMarket</h3>
</div> -->


<div class="main-container"ng-controller="getFB">
	<p>
	<table  align="center" style="width:700px">
		<tr>
			<th><a href="" ng-click="predicate = 'name'; reverse=false">Name</a></th>
			<th><a href="" ng-click="predicate = 'price'; reverse=!reverse">Price</a></th>
		</tr>
		<tr ng-repeat="p in ps  | filter: query | orderBy:predicate:reverse">
			<td>{{p.name.trim()}}</td>
			<td align="left">{{p.price.trim()}}</td>
		</tr>
	</table>
</div>



